.panel{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: 25px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: darkgray;
    border-radius: 8px;
    float:left;
}

a.button{
    padding: 2px 12px;
    border: 1px outset black;
    border-radius: 4px;
    color: black;
    background-color: lightgray;
    text-decoration: none;

}

#header{
    font-family: Verdana;
    background-color: lightgray;
    padding-bottom: 10px;
}

h1{
    font-weight: bold;
    color: darkred;
    font-size: 40px;
}

